bin
obj
/packages
Debug
Release
*.suo
*.orig
*.user
.sonar/*
UpgradeLog.htm
*.GhostDoc.xml
*.ncrunchproject
*.ncrunchsolution
_NCrunch_Expresso/
*.StyleCop.Cache
/Settings.StyleCop
/TestResults/*
*.cache
/Erdf.Expresso.Dependencies/src/Erdf.Mobility.Common/packages
Erdf.Expresso.Dependencies/src/Erdf.Mobility.Common/packages
*.snippet
/Erdf.Expresso.ExpressoUi/bin
